# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Local database
db.sqlite3

# Static files created by collectstatic
/staticfiles/

# VS Code settings
.vscode/

# macOS system files
.DS_Store
